@model  SolsticeDataServices.DAL.Entities.Users
@{
    ViewBag.Title = "Solstice Reset Password";
    Layout = "~/Views/Shared/_External.cshtml";
}

<!--slider area start-->
<div class="inner-slider-area">
    <div class="container">
        <div class="inner-text-slide">
            <h1>Reset Password</h1>
        </div>
    </div>
</div>
<!--slider area end-->
<!--body area start-->
@using (Html.BeginForm("ForgetPassword", "Index", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <br />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control", @style = "width: 25%" })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Return to Homepage", "Index", "Index")
            </div>
        </div>
    </div>
}
<!--body area end-->
